@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --font-poppins: "Poppins", "sans-serif"; 
    --font-jost: "Jost", "sans-serif";
    --font-anton: "Anton", "sans-serif";
  }
  
  * {
    font-family: var(--font-poppins);
  }
  
  html, body, #root {
    height: 100%;
    background-color: #000;
  }

  body {
    font-family: var(--font-poppins);
    margin: 0;
  }
}


